<a href="https://colab.research.google.com/github/FlonyxSly/NLP/blob/main/NLP_Florian_Leclercq.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Projet NLP Florian Leclercq

##Importation des données

In [1]:
from google.colab import drive
drive.mount('/content/gdrive/')

Mounted at /content/gdrive/

Commençons par importer tous les paquets dont nous aurons besoin pour ce projet.

In [47]:
import re
import nltk
nltk.download('punkt')
import csv
import numpy as np
import pandas as pd
import string
from nltk.tokenize import word_tokenize

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

Aperçu des données

In [33]:
data = pd.read_csv('/content/gdrive/MyDrive/Data.csv', encoding='latin-1')
data.head()

   0  ...  @switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D
0  0  ...  is upset that he can't update his Facebook by ...
1  0  ...  @Kenichan I dived many times for the ball. Man...
2  0  ...    my whole body feels itchy and like its on fire
3  0  ...  @nationwideclass no, it's not behaving at all....
4  0  ...                      @Kwesidei not the whole crew

[5 rows x 6 columns]

In [34]:
data.columns = ['target','ids','date','flag','user','text']
data.head()

   target  ...                                               text
0       0  ...  is upset that he can't update his Facebook by ...
1       0  ...  @Kenichan I dived many times for the ball. Man...
2       0  ...    my whole body feels itchy and like its on fire
3       0  ...  @nationwideclass no, it's not behaving at all....
4       0  ...                      @Kwesidei not the whole crew

[5 rows x 6 columns]

Je garde uniquement les données qui sont importantes

In [35]:
data.drop(columns=["ids","date","flag","user"],axis=1,inplace=True)
data.head()

   target                                               text
0       0  is upset that he can't update his Facebook by ...
1       0  @Kenichan I dived many times for the ball. Man...
2       0    my whole body feels itchy and like its on fire
3       0  @nationwideclass no, it's not behaving at all....
4       0                      @Kwesidei not the whole crew

In [58]:
data = data.sample(frac=1)

In [59]:
data['text']

1218234    @kristenstewart9 Congratulations!looking forwa...
752346     @courtney_eryn Yeah, so sick.  It was like 3 b...
533703     @julie_luck and I think I've given your some b...
225571             @mileycyrus dnt say that  u shouldn't cry
1485111    Recovering...3 hrs. of yard work, 3-hour bike ...
                                 ...
919260                    @erezmizrachi @mominisrael thanks
437032     Dang its hot out here. This is why I don't yea...
902394             @iantalbot  ah you say the nicest things
1076063    @Dark_Warlike Gracias por incluirme en tu foll...
862084       Hanging around with the boy until sleepy time.
Name: text, Length: 1599999, dtype: object

In [44]:
data.insert(2,'word embeding',np.zeros(1599999))

In [60]:
data

         target  ... word embeding
1218234       4  ...             0
752346        0  ...             0
533703        0  ...             0
225571        0  ...             0
1485111       4  ...             0
...         ...  ...           ...
919260        4  ...             0
437032        0  ...             0
902394        4  ...             0
1076063       4  ...             0
862084        4  ...             0

[1599999 rows x 3 columns]

In [57]:
for index in data.index:
  trait = re.sub(r'[,!?;-]', '.',data.loc[index,'text'])                                 #  Punktuations are replaced by .
  trait = nltk.word_tokenize(trait)                                     #  Tokenize string to words
  trait = [ ch.lower() for ch in trait if ch.isalpha() or ch == '.']
  data['word embeding'][index] = trait

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

KeyboardInterrupt: ignored

In [ ]:
data = re.sub(r'[,!?;-]', '.',data)                                 #  Punktuations are replaced by .
data = nltk.word_tokenize(data)                                     #  Tokenize string to words
data = [ ch.lower() for ch in data if ch.isalpha() or ch == '.']    #  Lower case and drop non-alphabetical tokens
print("Number of tokens:", len(data),'\n', data[:15])

In [62]:
dev_data = data[:1000]
dev_data.shape
dev_data.head()

         target  ... word embeding
1218234       4  ...             0
752346        0  ...             0
533703        0  ...             0
225571        0  ...             0
1485111       4  ...             0

[5 rows x 3 columns]

In [69]:
for index in dev_data.index:
  trait = re.sub(r'[,!?;-]', '.',dev_data.loc[index,'text'])                                 #  Punktuations are replaced by .
  trait = nltk.word_tokenize(trait)                                     #  Tokenize string to words
  trait = [ ch.lower() for ch in trait if ch.isalpha() or ch == '.']
  dev_data['word embeding'][index] = trait

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2882: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [70]:
dev_data.head()

         target  ...                                      word embeding
1218234       4  ...                          [forward, for, new, moon]
752346        0  ...  [yeah, ., so, sick, ., it, was, like, bucks, a...
533703        0  ...  [and, i, think, i, given, your, some, before, ...
225571        0  ...       [mileycyrus, dnt, say, that, u, should, cry]
1485111       4  ...  [recovering, hrs, ., of, yard, work, ., bike, ...

[5 rows x 3 columns]