<a href="https://colab.research.google.com/github/FlonyxSly/NLP/blob/main/NLP_Florian_Leclercq.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Projet NLP Florian Leclercq

##Importation des données

In [1]:
from google.colab import drive
drive.mount('/content/gdrive/')

Mounted at /content/gdrive/

Commençons par importer tous les paquets dont nous aurons besoin pour ce projet.

In [9]:
import re
import nltk
import csv
import numpy as np
import pandas as pd
import string
from nltk.tokenize import word_tokenize

Aperçu des données

In [19]:
data = pd.read_csv('/content/gdrive/MyDrive/Data.csv', encoding='latin-1')
data.head()

   0  ...  @switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D
0  0  ...  is upset that he can't update his Facebook by ...
1  0  ...  @Kenichan I dived many times for the ball. Man...
2  0  ...    my whole body feels itchy and like its on fire
3  0  ...  @nationwideclass no, it's not behaving at all....
4  0  ...                      @Kwesidei not the whole crew

[5 rows x 6 columns]

In [23]:
data.columns = ['target','ids','date','flag','user','text']
data.head()

   target  ...                                               text
0       0  ...  is upset that he can't update his Facebook by ...
1       0  ...  @Kenichan I dived many times for the ball. Man...
2       0  ...    my whole body feels itchy and like its on fire
3       0  ...  @nationwideclass no, it's not behaving at all....
4       0  ...                      @Kwesidei not the whole crew

[5 rows x 6 columns]